.main-footer {
  padding-top: 40px;
  background: @grey;
  padding-bottom: 60px;
}

.main-footer p {
  color: @black-text;
  font-family: "Golos Text";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  opacity: 0.6;

}