.stages {
  padding-top: 110px;
  position: relative;

  & .button-carusel-container {
    display: flex;
    align-items: center;
    justify-content: center;

    & div {
      display: flex;
      width: 74px;
      align-items: center;
      justify-content: space-between;
      margin:0 16px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 200px;

    & .button-carusel-container {
      display: none;
    }
  }
}


.stages h2 {
  color: @black-text;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 400;
  line-height: 39.6px;
  text-transform: uppercase;
  margin-bottom: 12px;

  @media (min-width: @desktop-width) {

    font-size: 54px;
    font-weight: 400;
    line-height: 120%;
    width: 806px;
    margin-bottom: 0;

  }
}

.stages__text {
  color: @blue;
  font-family: "Golos Text";
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 148px;

  @media(min-width: @desktop-width) {

    font-size: 20px;
    width: 280px;
    margin-top: -60px;
    margin-left: 300px;
    margin-bottom: 54px;
  }
}



.stages__img-plane {
  position: absolute;
  top: 310px;
  z-index: 1;

  @media (min-width: @desktop-width) {
    width: 470px;
    height: 265px;
    top: 430px;
    right: -60px;
    z-index: 1;
  }
}

.stages-list {

  width: 335px;
  height: 328px;
  overflow: hidden;

  @media (min-width: @desktop-width) {

    & .slide--double,
    .slide--single,
    .slide-second-item {
      margin: 0;
      width: unset;
      height: unset;
      background-size: cover;
    }

    & li:nth-child(3) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
    }

    & li:nth-child(7) {
      grid-column-start: 2;
      grid-column-end: 4;

      & p {
        margin-right: 285px;
      }
    }

    width: unset;
    height: unset;
    overflow: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.stages-list li {
  @media (min-width: @desktop-width) {
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.slide--single {
  width: 335px;
  height: 300px;
  background-image: url("../img/background-sliade.png");
  display: grid;
  grid-template-columns: 20px 36px 243px;
  gap: 16px;
  margin-bottom: 28px;

  & p {
    margin-top: 62px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 20px 36px 1fr;

    & p {
      margin-top: 20px;
    }

  }

}

.slide--double {
  width: 335px;
  height: 300px;
  background-image: url("../img/background-sliade.png");
  display: grid;
  grid-template-columns: 20px 36px 243px;
  gap: 16px;
  position: relative;


  & p {
    margin-top: 62px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 20px 36px 1fr;

    & p {
      margin-top: 20px;
    }
  }
}


.slide-second-item {
  margin-top: -188px;
  background-image: none;
  height: 150px;
  margin-bottom: 67px;


  @media (min-width: @desktop-width) {
    background-image: url("../img/background-sliade.png");
  }

}

.slide3-margin-top {
  margin-top: -238px;
  margin-bottom: 117px;

  @media (min-width: @desktop-width) {}
}


.stages-list p {

  color: @black-text;
  font-family: "Golos Text";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 120%;

  }

}

.stages-number {
  width: 36px;
  height: 36px;
  background-color: @white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  color: @black-text;
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
}


.button-carusel {
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  background-image: url("../img/carousel-button.svg");
}

.button-carusel--reverse {
  transform: rotate(180deg);
}

.stages-list-text--mobile-break {
  @media (min-width: @desktop-width) {
    display: none;

  }
}

.stages-list-text--desktop-break {
  display: none;

  @media (min-width: @desktop-width) {
    display: unset;
  }
}



.slidevision {
  display: none;

  @media (min-width: @desktop-width) {
    display: grid;
  }
}

.slidevision2 {
  display: grid;
}
