@blue-main: #81b3d2;
@black-basick: #000;
@white-basic: #fff;
@grey-basic: #eeeeee;

//menu

@main-menu-active: #766357;
@main-menu-hover: #604e43;

//buton

@button-hover: #669ec0;
@button-pushed: #5496bd;
@button-disabled: #e5e5e5;

//forms

@basic-form: #f2f2f2;
@hover-form: #e5e5e5;
@background-ico: #e6e6e6;

//controls

@basic-controls: #5c6870;
@hover-contols: #333333;
