.performance {
  padding: 32px 0 0 0;
  text-align: center;
  &__heading {
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 43px;
    & br:first-child {
      display: none;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 26px;
    padding: 0 36px;
    padding-bottom: 27px;
  }
}
.reason_1 {
  padding-top: 55px;
  background: @blue-main;
  color: @white-basic;
  display: flex;
  flex-direction: column;

  margin-bottom: 35px;
  position: relative;
  align-items: center;

  & .reason-wrapper {
    position: absolute;
    top: -22px;
  }
  &__list {
    padding: 0 12px 0 13px;
    text-align: center;
  }
  &__list-item__heading {
    padding-bottom: 15px;
    font-weight: 400;
  }
  &__list-item-text {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 39px;
    padding-top: 26px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    flex-direction: row;
    min-width: 768px;
    height: 256px;
    margin-bottom: 158px;
    & .reason-wrapper {
      display: none;
    }
  }
}

.reason_1__walpapers {
  margin-bottom: -8px;
  width: 100%;
  & .reason_1-walpaper:nth-child(2) {
    display: none;
  }
  @media (min-width: @tablet-width) {
    & .reason_1-walpaper:nth-child(1) {
      display: none;
    }
    & .reason_1-walpaper:nth-child(2) {
      display: block;
      margin-top: -9px;
      float: right;
    }
  }
}

.recomendation {
  padding-left: 69px;
  padding-right: 20px;
  &__list-item__heading {
    padding-bottom: 25px;
    position: relative;
  }
  &__list-item__text {
    margin-bottom: 37px;
  }
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    & .recomendation__list-souvenirs {
      order: 3;
    }
    &__list-item__text {
      margin-bottom: 60px;
    }
  }
}

.heading-house::before {
  content: url("../../../img/index/icon-house.png");
  position: absolute;
  left: -49px;
  top: -10px;
  @media (min-width: @tablet-width) {
    top: -50px;
    left: 60px;
  }
}
.heading-souvenirs::before {
  content: url("../../../img/index/icon-gift.png");
  position: absolute;
  left: -49px;
  top: -10px;
  @media (min-width: @tablet-width) {
    top: -50px;
    left: 90px;
  }
}
.heading-food::before {
  content: url("../../../img/index/icon-food.png");
  position: absolute;
  left: -52px;
  top: -10px;
  @media (min-width: @tablet-width) {
    top: -50px;
    left: 55px;
  }
}

.reason_2 {
  background: @blue-main;
  color: @white-basic;
  display: flex;

  flex-direction: column;

  &__list {
    padding: 0 12px 0 13px;
    text-align: center;
  }
  &__list-item__heading {
    padding-bottom: 15px;
    font-weight: 400;
  }
  &__list-item-text {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 39px;
    padding-top: 26px;
  }
  @media (min-width: @tablet-width) {
    height: 256px;
    flex-direction: row-reverse;
  }
}
.reason_2__walpapers {
  margin-top: 10px;
  width: 100%;
  & .reason_2__walpaper:nth-child(2) {
    display: none;
  }
  @media (min-width: @tablet-width) {
    & .reason_2__walpaper:nth-child(1) {
      display: none;
    }
    & .reason_2__walpaper:nth-child(2) {
      display: block;
      margin-top: -9px;
      float: left;
    }
  }
}

.many-reasons {
  padding-top: 26px;
  padding: 0 20px;
  text-align: center;
  background: @grey-basic;
  & .list-item__heading {
    padding-top: 25px;
    padding-bottom: 23px;
  }
  & .list-item__number {
    padding-bottom: 24px;
  }
  & .list-item__text {
    padding-bottom: 24px;
    border-bottom: 1px solid #d6d6d6;
  }
  & .reason_5 .list-item__text {
    border: none;
  }
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.booking {
  padding: 33px 20px 49px 20px;
  text-align: center;
  &-heading {
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 32px;
  }
  &-text {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 27px;
  }

  @media (min-width: @tablet-width) {
    padding: 75px 155px;
  }
}

.map {
  & .sedona-map:nth-child(2) {
    display: none;
  }
  @media (min-width: @tablet-width) {
    & .sedona-map:nth-child(1) {
      display: none;
    }
    & .sedona-map:nth-child(2) {
      display: block;
      width: 100%;
    }
  }
}
