@white: #FFFFFF;
@linear-gradient: #EEF5FA; //head-baner
@blue: #1B83FF; //мобильная кнопка
@blue2: #3C95FF;
@blue3: #0674F4;
@blue-gradient: #4A9DFF;
@ginger: #FF7B00; //кнопка хедер
@color-ginger: #FF7B01;
@golden: #FFCA7B;
@color-gotham2: #153152;
@color-gotham3: #3F546C;
@color-verdana-gotham: #22374F;
@color-verdana: #3F546C;
@color-gotham4: #4D719B;
@color-date-news: #B3B3B3;
@color-support: #9BAEC3;


.colored-title {
  background-color: @golden;
  color: @color-gotham2;
}