:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-grey: #F2F2F2;
  --another-grey: #EAEAEA;
  --special-grey: #444444;
  --grey-lines: #E6E6E6;
  --basic-green: #68B738;
  --grei-line: #D9D9D9;
}

@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

@tablet-width: 768px;
@desktop-width: 1200px;
