 .page-header {
   @media (min-width: @tablet-width) {
     // width: @tablet-width;

   }


 }

 .header__flex {
   background-color: white;

   @media (min-width: @tablet-width) {
     padding-right: 29px;
     display: flex;
     justify-content: space-between;
     align-items: center;

   }
 }

 .border-line {
   border-bottom: 1px solid var(--grey-lines);

   @media (min-width: @tablet-width) {
     border: none;
   }
 }

 .logo-flex {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-top: 12px;
   padding-bottom: 22px;

   @media (min-width: @tablet-width) {
     padding-left: 10px;
     padding-top: 24px;
     padding-bottom: 5px;
   }

 }

 .mobile_logo {
   margin-left: 21px;
 }

 .page-header__logo-text {
   @media (min-width: @tablet-width) {
     display: none;
   }
 }

 .page-header__logo {
   @media (min-width: @tablet-width) {
     width: 174px;
     height: 51.683px;

   }
 }

 .page-header__toggle {
   width: 18px;
   height: 18px;
   margin-right: 21px;

   @media (min-width: @tablet-width) {
     display: none;

   }
 }

 .main-nav__list {
   font-size: 20px;
   line-height: 20px;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   text-align: center;

   @media (min-width: @tablet-width) {
     flex-direction: row;
     justify-content: space-between;
     width: 440px;

   }
 }

 .nav-list__item {
   padding: 22px 0;

   @media (min-width: @tablet-width) {
     padding-top: 42px;
     padding-bottom: 10px;
     font-weight: 400;
     line-height: 24px;
     font-weight: 500;
     font-size: 18px;
   }
 }

 .site-list__item--active {
   @media (min-width: @tablet-width) {
     border-bottom: 2px solid rgba(104, 183, 56, 1);
   }
 }