.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
}

.headersList {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;

}

.active {
    color: red;
}

.menu_link {}