.button {
  background: @blue-main;
  font-weight: bold;
  color: @white-basic;
  font-size: 26px;
  display: block;
  text-align: center;
}

.apartment-serch__button {
  width: 280px;
  height: 58px;
}

.social-button__item {
  width: 47px;
  height: 48px;
}
