.button {
  background: @blue-main;
  font-weight: bold;
  color: @white-basic;
  font-size: 21px;
  line-height: 26px;
  display: block;
  text-align: center;
}
.main_nav--list--icon_button-button {
  position: absolute;
  right: 20px;
  bottom: 15px;
  z-index: 2;
  background: none;
  border: none;
  @media (min-width: @tablet-width) {
    display: none;
  }
}



.cross-button {
  position: absolute;
  right: 19px;
  top: 17px;
  background: none;
  border: none;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.booking-button {
  padding: 14px 0 17px 0;
}

.social-button {
  width: 46px;
  height: 48px;
  background: @blue-main;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
