.page__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 38px 0 26px 0;
}

.footer__heading {
margin-bottom: 33px;
}

.footer__social-list {
  display: flex;
  margin-bottom: 45px;
  &-item {
    margin-right: 6px;
  }
}

.footter__copyright-list {
  display: flex;
  &-text {
    padding-right: 12px;
  }
}
