.main_nav {
  position: relative;
}
.main_nav--list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: @blue-main;
}

.main_nav--list-item {
  font-size: 18px;
  line-height: 40px;
  height: 55px;
  padding: 10px 0 5px 0;
}
.main_nav--list-link {
  color: @white-basic;
}

// button - mobile

.main_nav--list--icon_button li {
  padding: 0;
}



.main_nav--list--icon_button {
  position: relative;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}


//  walpaper

.page_header--walpaper {
  position: relative;
  height: 389px;
  background: url("../../img/index/sedona-rocks-mobile.jpg") no-repeat;
  background-size: cover;
}
.page_header--walpaper-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.page_header--walpaper-list-item-frame {
  position: absolute;
  bottom: -8px;
}
