.main-nav {
}

.main-nav_list--item {
  color: @white-basic;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  height: 55px;
  background: @blue-main;
  border-top: 1px solid @black-basick;
  border-bottom: 1px solid @white-basic;
  display: flex;
  align-items: center;
}

.main-wallpaper {
  border: 1px solid red;
  position: relative;
  height: 389px;
}
.main-wallpaper--rock {
  height: 100%;
}

.main-wallpaper--text {
  display: block;
  position: absolute;
  top: 0;
}

.main-wallpaper--frame {
  display: block;
  position: absolute;
  bottom: 0;
}

.curent {
  color: @main-menu-active;
}
