.visually-hidden {
  //скрыть то что должно быть скрыто
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
h1, h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}


//Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@phone-width: 320px;
