.page__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social_list {
  display: flex;
}

.footer_copyright {
  display: flex;
  align-items: center;
  & a {
    padding-left: 15px;
  }
}

@media (min-width: @tablet-width) {
  .page__footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
