.main-nav_list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.main-nav_list--item {
  color: @white-basic;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  height: 55px;
  background: @blue-main;
  border-top: 1px solid @black-basick;
  border-bottom: 1px solid @white-basic;
  display: block;
  padding-top: 5px;
}

.curent {
  color: @main-menu-active;
}

.main-wallpaper {
  position: relative;
}

.main-wallpaper--text {
  display: block;
  position: absolute;
  top: 0;
}

.main-wallpaper--frame {
  display: block;
  position: absolute;
  bottom: 0;
}
